{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
		<h1>Texto de about XD</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum debitis molestiae sit, sed voluptates sint? Repudiandae repellat a totam ipsa non tempora perferendis reiciendis. Adipisci exercitationem ipsum eum non perspiciatis?</p>
    </div>

	<div class="col-4">
		<img src="assets/img/imagen.png" alt="Soy una imagen" class="img-thumbnail">
	</div>

</div>

{{> footer }}
